.chart {
            position: relative;
            float: left;
            margin-right: 10px;
        }

        .slider {
            width: 100px;
            margin: 0px 3px -1px 6px;
            padding-right: 3px;
            display: inline-block;
            float: right;
        }

        .optionsPane {
            position: relative;
            float: initial;
            width: 350px;
            margin: 6px 3px 6px 6px;
            display: inline-block;
            padding-top: 18px;
        }

        .selector {
            float: right;
        }

        .optionContainer {
            float: left;
            position: relative;
            width: 265px;
            margin: 2px;
            padding: 2px;
            display: inline-block;
            border: 1px solid #e0e0e0;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
        }

        .labels {
            padding-left: 7px;
            padding-right: 7px;
            width: 15px;
        }