/*This css is to hide the sort/filter tray*/
                .ui-iglist-tray-collapse {
                    display: none;
                }

                .ui-iglist-tray-footer-collapsed {
                    display: none;
                }

                /* Hides the clear button for IE */
                input[data-type="search"]::-ms-clear {
                    display: none;
                }