td { vertical-align: top; }
            .chartElement {
                padding-bottom: 20px;
            }

          
            .sliderBounds {
                width: 95px;
                margin: 6px 3px 6px 6px;
                display: inline-block;
            }
            .optionContainer {
                width: 200px;
                margin: 2px;
                padding: 2px;
                display: inline-block;
                border: 1px solid #e0e0e0;
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                border-radius: 4px;
            }
            .selectBounds {
                min-width: 120px;
                max-width: 132px;
            }