.template-image {
                float: left;
                left: 10px;
                margin-right: 10px;
            }

            .detail-container {
                margin-left: 10px;
                margin-right: 10px;
                background-color: rgb(255, 255, 255);
                padding: 15px;
                border-radius: 11px;
                color: Black;
            }

            .notes, .address {
                margin-top: 1em;
            }
            .itemContainer {
                height:80px;
            }