#tree {
            overflow: hidden;
        }
        @media all and (max-width: 480px) {
            #splitter {
                font-size: 16px;
            }
        }
     
        p { padding: 10px; }