.ui-igbutton .ui-igbutton-copy
        {
            background-image: url("http://jp.igniteui.com/images/samples/html-editor/ig-html-editor-custom-styles-sprite.png");
            background-position: 0 -160px!important;
        }
        .ui-igbutton .ui-igbutton-cut
        {
            background-image: url("http://jp.igniteui.com/images/samples/html-editor/ig-html-editor-custom-styles-sprite.png");
            background-position: 0 0px!important;
        }
        .ui-igbutton .ui-igbutton-paste
        {
            background-image: url("http://jp.igniteui.com/images/samples/html-editor/ig-html-editor-custom-styles-sprite.png");
            background-position: 0 -176px!important;
        }
        .ui-igbutton .ui-igbutton-bold 
        {
            background-image: url("http://jp.igniteui.com/images/samples/html-editor/ig-html-editor-custom-styles-sprite.png");
            background-position: 0 -336px!important;
        }
        .ui-igbutton .ui-igbutton-italic 
        {
            background-image: url("http://jp.igniteui.com/images/samples/html-editor/ig-html-editor-custom-styles-sprite.png");
            background-position: 0 -400px!important;
        }
        .ui-igbutton .ui-igbutton-underline 
        {
            background-image: url("http://jp.igniteui.com/images/samples/html-editor/ig-html-editor-custom-styles-sprite.png");
            background-position: 0 -464px!important;
        }
        .ui-igbutton .ui-igbutton-strikethrough
        {
            background-image: url("http://jp.igniteui.com/images/samples/html-editor/ig-html-editor-custom-styles-sprite.png");
            background-position: 0 -448px!important;
        }
        .ui-igbutton .ui-igbutton-table
        {
            background-image: url("http://jp.igniteui.com/images/samples/html-editor/ig-html-editor-custom-styles-sprite.png");
            background-position: 0 -192px!important;
        }
        .ui-igbutton .ui-igbutton-addrow
        {
            background-image: url("http://jp.igniteui.com/images/samples/html-editor/ig-html-editor-custom-styles-sprite.png");
            background-position: 0 -224px!important;
        }
        .ui-igbutton .ui-igbutton-addcolumn
        {
            background-image: url("http://jp.igniteui.com/images/samples/html-editor/ig-html-editor-custom-styles-sprite.png");
            background-position: 0 -256px!important;
        }
        .ui-igbutton .ui-igbutton-removerow
        {
            background-image: url("http://jp.igniteui.com/images/samples/html-editor/ig-html-editor-custom-styles-sprite.png");
            background-position: 0 -208px!important;
        }
        .ui-igbutton .ui-igbutton-removecolumn
        {
            background-image: url("http://jp.igniteui.com/images/samples/html-editor/ig-html-editor-custom-styles-sprite.png");
            background-position: 0 -240px!important;
        }
        .ui-igbutton .ui-igbutton-addimage
        {
            background-image: url("http://jp.igniteui.com/images/samples/html-editor/ig-html-editor-custom-styles-sprite.png");
            background-position: 0 -96px!important;
        }
        .ui-igbutton .ui-igbutton-addlink
        {
            background-image: url("http://jp.igniteui.com/images/samples/html-editor/ig-html-editor-custom-styles-sprite.png");
            background-position: 0 -128px!important;
        }
        .ui-igbutton .ui-igbutton-unorderedlist
        {
            background-image: url("http://jp.igniteui.com/images/samples/html-editor/ig-html-editor-custom-styles-sprite.png");
            background-position: 0 -416px!important;
        }
        .ui-igbutton .ui-igbutton-orderedlist
        {
            background-image: url("http://jp.igniteui.com/images/samples/html-editor/ig-html-editor-custom-styles-sprite.png");
            background-position: 0 -432px!important;
        }
        .ui-igbutton .ui-igbutton-viewsource-icon
        {
            background-image: url("http://jp.igniteui.com/images/samples/html-editor/ig-html-editor-custom-styles-sprite.png");
            background-position: 0 -64px!important;
        }
        .ui-igbutton .ui-igbutton-indent
        {
            background-image: url("http://jp.igniteui.com/images/samples/html-editor/ig-html-editor-custom-styles-sprite.png");
            background-position: 0 -368px!important;
        }
        .ui-igbutton .ui-igbutton-removeindent
        {
            background-image: url("http://jp.igniteui.com/images/samples/html-editor/ig-html-editor-custom-styles-sprite.png");
            background-position: 0 -384px!important;
        }
        .ui-igbutton .ui-igbutton-justifyright
        {
            background-image: url("http://jp.igniteui.com/images/samples/html-editor/ig-html-editor-custom-styles-sprite.png");
            background-position: 0 -320px!important;
        }
        .ui-igbutton .ui-igbutton-justifyleft 
        {
            background-image: url("http://jp.igniteui.com/images/samples/html-editor/ig-html-editor-custom-styles-sprite.png");
            background-position: 0 -304px!important;
        }
        .ui-igbutton .ui-igbutton-justifycenter
        {
            background-image: url("http://jp.igniteui.com/images/samples/html-editor/ig-html-editor-custom-styles-sprite.png");
            background-position: 0 -272px!important;
        }
        .ui-igbutton .ui-igbutton-justifyfull 
        {
            background-image: url("http://jp.igniteui.com/images/samples/html-editor/ig-html-editor-custom-styles-sprite.png");
            background-position: 0 -288px!important;
        }
        .ui-ightmleditor .ui-igtoolbar .ui-igbutton.ui-state-default {    
           border-color:transparent;
        }
        .ui-ightmleditor {
            background-image: none;
        }
        .ui-corner-all {
            border-radius: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
        }
        .ui-widget-content.ui-igtoolbar {
            border: none;
        }
        .ui-ightmleditor-content iframe {
            box-shadow: none;
        }
		/* Override sample's browser styles */
    	#htmlEditor h1, #htmlEditor h2, #htmlEditor h3, #htmlEditor h4, #htmlEditor h5, #htmlEditor h6 { margin: 0px; }
    	#htmlEditor h1 { font-size: 1.9em; }
		#sampleContainer { overflow: visible; }