#loremText {
            height: 400px;
            width: 95%;
            overflow: hidden;
            border: 1px solid #ccc;
            border-radius: 9px;
            padding-right: 20px;
            padding-left: 20px;
        }

        #loremText p {
            text-indent: 14px;
            font-size: 14px;
            padding: initial;
            margin-top: 16px;
            margin-bottom: 16px;
        }

        #loremText h3 {
            font-size: 18px;
            padding: initial;
            margin: initial;
        }

        #loremText .igscroll-varrow {
            visibility: hidden;
        }

        #loremText .igscroll-harrow {
            visibility: hidden;
        }

        #loremText .igscroll-vtrack {
            background-color: #dfdfdf;
            border-radius: 30px;
            width: 4px !important;
            box-shadow: inset 0px 0px 5px #888888;
        }

        #loremText .igscroll-vdrag {
            border-radius: 5px;
            border: 1px solid #ccc;
            box-shadow: inset 0px 0px 5px #888888;
            background-color: #db5858;
        }

        #loremText .igscroll-vdrag-thin {
            left: -1px;
        }

        #loremText .igscroll-vdrag-big {
            left: -3px;
        }

        #loremText .igscroll-vdrag:hover {
            background-color: #c45050;
        }

        #loremText .igscroll-vdrag:active {
            background-color: #a34343;
        }


        #loremText .igscroll-htrack {
            background-color: #dfdfdf;
            border-radius: 30px;
            height: 4px !important;
            box-shadow: inset 0px 0px 5px #888888;
        }

        #loremText .igscroll-hdrag {
            border-radius: 6px;
            border: 1px solid #ccc;
            box-shadow: inset 0px 0px 5px #888888;
            background-color: #db5858;
        }

        
        #loremText .igscroll-hdrag-thin {
            left: -1px;
        }

        #loremText .igscroll-hdrag-big {
            left: -3px;
        }

        #loremText .igscroll-hdrag:hover {
            background-color: #c45050;
        }

        #loremText .igscroll-hdrag:active {
            background-color: #a34343;
        }