.ui-button {
            width: 18px;
            height: 18px;
            padding: 3px;
        }

        .ui-igbutton .ui-igbutton-forecolor, .button-split {
            background-image: url('https://jp.igniteui.com/igniteui/css/themes/infragistics/images/ui-icons_888888_256x240.png')!important;
            background-size: 384px 370px;
        }

        #color-picker-shape .ui-igbutton .ui-igbutton-forecolor, .button-circle.ui-icon {
            background-position: -123px -230px;
            background-image: url('https://jp.igniteui.com/igniteui/css/themes/infragistics/images/ui-icons_888888_256x240.png')!important;        }

        #font-color-picker .ui-igbutton .ui-igbutton-forecolor {
            background-position: 0 -448px;
            background-image: url('https://jp.igniteui.com/igniteui/css/themes/metro/images/igHtmlEditor/html-editor-sprite.png')!important;
            background-size: auto;
        }

        #background-color-picker .ui-igbutton .ui-igbutton-backcolor {
            background-position: 0 -464px;
            background-image: url('https://jp.igniteui.com/igniteui/css/themes/metro/images/igHtmlEditor/html-editor-sprite.png')!important;
            background-size: auto;
        }

        #text-align-button .ui-btn-justifyleft {
            background-image: url('https://jp.igniteui.com/igniteui/css/themes/metro/images/igHtmlEditor/html-editor-sprite.png')!important;
            background-position: 0 -384px;
        }

        #text-align-button .ui-btn-justifycenter {
            background-image: url('https://jp.igniteui.com/igniteui/css/themes/metro/images/igHtmlEditor/html-editor-sprite.png')!important;
            background-position: 0 -400px;
        }

        #text-align-button .ui-btn-justifyright {
            background-image: url('https://jp.igniteui.com/igniteui/css/themes/metro/images/igHtmlEditor/html-editor-sprite.png')!important;
            background-position: 0 -416px;
        }

        #text-align-button .ui-btn-justifyfull {
            background-image: url('https://jp.igniteui.com/igniteui/css/themes/metro/images/igHtmlEditor/html-editor-sprite.png')!important;
            background-position: 0 -432px;
        }

        #text-style-button .ui-btn-normal {
            background-image: url('https://jp.igniteui.com/igniteui/css/themes/metro/images/igHtmlEditor/html-editor-sprite.png')!important;
            background-position: 0 -528px;
        }

        #text-style-button .ui-btn-bold {
            background-image: url('css/themes/metro/images/igHtmlEditor/html-editor-sprite.png') !important;
            background-position: 0 -480px;
        }

        #text-style-button .ui-btn-italic {
            background-image: url('https://jp.igniteui.com/igniteui/css/themes/metro/images/igHtmlEditor/html-editor-sprite.png')!important;
            background-position: 0 -496px;
        }

        #text-style-button .ui-btn-underline {
            background-image: url('https://jp.igniteui.com/igniteui/css/themes/metro/images/igHtmlEditor/html-editor-sprite.png')!important;
            background-position: 0 -512px;
        }

        #color-picker-triangle .ui-igbutton .ui-igbutton-forecolor,
        #split-button-shape .button-triangle,
        #split-button-triangle .button-triangle,
        #split-button-square .button-triangle.ui-icon {
            background-position: -98px -8px;
            background-image: url('https://jp.igniteui.com/igniteui/css/structure/images/igGrid/filter-icons-333333.png')!important;
            background-size: 606px 32px;
        }

        #color-picker-square .ui-igbutton .ui-igbutton-forecolor, .button-square.ui-icon {
            background-position: -148px -254px;
            background-image: url('https://jp.igniteui.com/igniteui/css/themes/infragistics/images/ui-icons_888888_256x240.png')!important;
        }

        .ui-splitbutton .ui-igtoolbarbutton.ui-button {
            margin: 0;
            border: none !important; /* Needed to prevent various jquery ui interaction state scenarios */
        }