.dashboard {         
            color: #2b2b2b;
            border: 0;
            position: relative;
            width: 100%;
            height: 500px;
            margin-top: -10px;
            margin-left: -5px;
        }

        .item-inner-container {
            width:100%;
            height:100%;
            background-repeat:no-repeat;
            background-position: center center;
            background-size: cover;
        }

        .ig-layout-item, .ui-igtile-inner-container {
            padding: 0;
            margin: 0;
            border: 0;
        }

        .minimized-title-container {
            display: none;
            background: rgba(255,255,255,0.75);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2ffffff,endColorstr=#b2ffffff);
            position:absolute; 
            bottom: 0;
            width: 100%; 
            height: 17%;
        }

        .max-title-and-ingredients-container, .minimized-title-container {
            font-size: 18px;
            font-family: Calibri;
            overflow: hidden;
        }

        .minimized-title {
            font-weight: bold;
            padding-left: 5px;
            display: table-cell;
            height: 100%;
            vertical-align: middle;
        }

        .ig-layout-item.ui-state-hover .minimized-title-container {
            display: table;
        }

        .max-title-and-ingredients-container {
            height: 100%;
            background: rgba(255,255,255,0.7);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2ffffff,endColorstr=#b2ffffff);
            padding: 5px 10px;
            box-sizing: border-box;
        }

        h3 {
            font-size: 26px;
        }

        .ingredients {
            list-style-type: none;
            padding-top: 2px;
        }

        .ui-igtilemanager {
            overflow: initial;
        }

        @media all and (max-width: 480px) {
            h3 {
                font-size: 22px;
            }

            .max-title-and-ingredients-container, .minimized-title-container {
                font-size: 17px;
            }
        }

        @media all and (max-width: 360px) {
            .max-title-and-ingredients-container, .minimized-title-container {
                font-size: 15px;
            }
        }