#container {
            width: 60%;
            border: 1px solid #ccc;
            box-sizing: border-box;
            padding: 20px;
        }

        .p {
            margin-top: 5px;
        }

        #igDatePickersContainer {
            float: left;
        }

        .group-fields {
            margin-bottom: 10px;
        }

        .group-fields label {
            display: block;
            line-height: 18px;
        }

        #ValuesContainer {
            float: right;
        }

        #ValuesContainer.p {
            font-size: 16px;
        }

        #container h4 {
            font-size: 16px;
            margin-bottom: 10px;
        }

        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }

        @media screen and (max-width:920px) {
            #container {
                width: 70%;
            }
        }

        @media screen and (max-width:770px) {
            #container {
                width: 100%;
            }
        }

        @media screen and (max-width:570px) {
            #igDatePickersContainer,#ValuesContainer {
                float: none;
            }
            #ValuesContainer {
                margin-top:20px;
            }
        }