.message
        {
            color: darkorange;
            font-weight: bold;
        }

        .container
        {
            width: 40%;
            position: relative;
            float: left;
            padding: 0px 10px 0px 10px;
        }

        #tree
        {
            border-right: 1px solid grey;
        }

        #categoryEditorsContainer, #productEditorsContainer
        {
            display: none;
        }

		@media screen and (max-width: 600px) {
    		.container { 
				width: 100%;
				clear: both;
				padding-top: 10px;
    		}
			#tree
			{
				border-right: none;
				border-bottom: 1px solid grey;
			}
        }