td { vertical-align: top; }
            .chartElement {
                padding-bottom: 20px;
            }

            .optionsPane {
                position: relative;
                float: initial;
                width: 250px;
                margin: 6px 3px 6px 6px;
                display: inline-block;
                padding-top: 18px; 
            } 
            
            .optionsColumn {
                float: left;
                /*width: 250px;*/
                position: relative;
                margin: 2px;
                padding: 2px;
                display: inline-block;
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                border-radius: 4px;
                border: 1px solid #e0e0e0;
            }
        
            .slider {
                width: 250px;
                margin: 10px 10px 4px 6px;
                padding-right: 3px;
                padding-left: 3px;
                display: inline-block;
                float: left;
            } 
            .values {
                padding-left: 7px;
                padding-right: 0px;
            }