body {
            font-family: 'Segoe UI', 'Arial', 'Helvetica', 'sans-serif';
        }

        ul {
            text-decoration: none;
            padding: 0;
            margin: 0;
            list-style: none;
        }
        
        .ui-igtile-maximized .ui-igtile-inner-container {overflow: hidden;}


        #car-tabs {
            margin: auto;
        }

        .dashboard {
            font-size: 0.85em!important;
            position: relative;
            height: 660px;
        }

            .dashboard img {
                width: 100%;
            }

            .dashboard figure {
                margin:0;
            }

            .dashboard figcaption {
                font-size: 1.1em;
                background-color: #454545;
                color: #fff;
                padding: 10px 0 10px 10px;
            }

            .dashboard .ui-igtile-maximized  figcaption {
                background-color: #2cbdf9;
                -webkit-transition:0.5s;
            }

                .dashboard div ul {
                    border: 1px solid #ececec;
                    padding: 5px 5px 10px 5px;
                    -webkit-transition:0.5s;
                }

                    .dashboard div ul li:nth-child(n+2):before {
                        content: "• ";
                        color: #2cbdf9; 
                    }

                    .dashboard div ul li:first-child {
                        color: #2cbdf9;
                    }
        
        #car-tabs.ui-tabs .ui-tabs-panel, #car-tabs.ui-tabs-nav, #car-tabs.ui-tabs .ui-tabs-nav li.ui-state-default {
            border: none;
            padding: 0;
        }

        #car-tabs.ui-tabs .ui-tabs-nav li.ui-state-active a {
            background-color: #2cbdf9!important;

        }

        #car-tabs.ui-tabs .ui-tabs-nav li.ui-state-default a {
            background-color: #95defc;
        }

        #car-tabs.ui-tabs .ui-tabs-nav li.ui-state-hover a {
            background-color: #6bd1fb;
        }

        #car-tabs.ui-tabs-anchor {
            text-shadow: none;
            color: #fff!important;
        }

        #car-tabs.ui-tabs-anchor:hover {
            text-decoration: underline;
        }

        #car-tabs.ui-tabs {
            border-radius: 0;
        }

        .sample-footer {
            margin-top: 10px;
            height: 80px;
            line-height: 75px;
            text-align: center;
            width: 100%;
            background-color: #44acd6;
        }
            .sample-footer a {
                color: #fff;
                vertical-align: middle;
            }

        .sample-header {
            height: 60px;
            line-height: 75px;
            width: 100%;
            background-color: #44acd6;
        }

        h1.hOne {
            margin: 0;
            clear: none;
            float: none;
            font-size: 2em;
        }

        @media all and (max-width: 430px) {
            #car-tabs.ui-tabs-nav li {
                font-size: 16px;
            }

            /*.sample-page #sample {
                margin-left: 0;
                margin-right: 0;
            }*/
        }