.sl-layout-container {
			margin: 0px 20px 10px 0px;
			width: 42%;
			float: left;
		}
		@media screen and (max-width: 500px) {
			.sl-layout-container {
				width: 80%;
				min-width: 200px;
			}
		}