ul {
            list-style-type: none; 
        }

        #layout {
            position: relative;
        }        

        .ig-layout-item {
            padding: 5px;
        }

            .ig-layout-item > div {
                position: absolute;
                height: auto;
                bottom: 0;
                top: 0;
                left: 0;
                right: 0;
                margin: 5px;
            }  

        .box {
            background-color: #fff;
            border: 1px solid #888;
            color: grey;
        }

        .box-title {
            color:#fff;
            background-color:#888;
            font-size: 16px;
            padding: 6px 0 10px 10px;
        }

        .box table td {
            padding: 0;
        }
        
        .box-body-big-text {
            font-size: 60px;
            margin-top: 15px;
            text-align: center;
            color: #f60;
        }

       @media all and (max-width: 910px) {
            .box-title {
                font-size: 14px;
            }

            .box-body-big-text {
                font-size: 49px;
                margin-top: 24px;
            }
        }

        @media all and (max-width: 740px) {
            .box-title {
                font-size: 12px;
            }
            .box-body-big-text {
                font-size: 38px;
                margin-top: 34px;
            }
        }

        @media all and (max-width: 570px) {
            .box-title {
                font-size: 10px;
            }
            .box-body-big-text {
                font-size: 20px;
                margin-top: 47px;
            }
        }

        @media all and (max-width: 360px) {
            .box-title {
                font-size: 10px;
            }
            .box-body-big-text {
                font-size: 17px;
                margin-top: 45px;
            }
        }