td { vertical-align: top; }
        #chart
        {
            position: relative;
            float: left;
            margin-right: 10px;
        }
        
        .selectionOptions
        {
            clear: left;
            padding-top: 10px;
        }
        
        .slider
        {
            width: 200px;
            height: 10px;
            margin: 10px;
        }