.clear {
            clear: both;
        }

        .ui-igrating {
            float: left;
        }

        .ratingLabel {
            float: left;
            margin-left: 3px;
            margin-right: 5px;
        }