.theme1 .ui-igrating {
        }

        .theme1 .ui-igrating-active {
        }

        .theme1 .ui-igrating-hover {
        }

        .theme1 .ui-igrating-vote {
            width: 20px;
            height: 20px;
            background-image: url("http://igniteui.com/images/samples/rating/ig-rating-red.png")!important;
            background-position: -75px 0;
        }

        .theme1 .ui-igrating-voteselected {
            background-position: 0 0;
        }

        .theme1 .ui-igrating-votehover {
            background-position: -25px 0;
            filter: alpha(opacity=40);
            opacity: 0.4;
        }

        .theme1 .ui-igrating-votedisabled {
            background-position: -100px 0;
        }

        .theme1 .ui-igrating-votedisabledselected {
            background-position: -50px 0;
        }

        .theme2 .ui-igrating {
        }

        .theme2 .ui-igrating-active {
        }

        .theme2 .ui-igrating-hover {
        }

        .theme2 .ui-igrating-vote {
            width: 20px;
            height: 20px;
            background-image: url("http://igniteui.com/images/samples/rating/ig-rating-red.png") !important;
            background-position: -75px 0;
        }

        .theme2 .ui-igrating-voteselected {
            background-position: 0 0;
        }

        .theme2 .ui-igrating-votehover {
            background-position: -25px 0;
            filter: alpha(opacity=0);
            opacity: 0.0;
        }

        .theme2 .ui-igrating-votedisabled {
            background-position: -100px 0;
        }

        .theme2 .ui-igrating-votedisabledselected {
            background-position: -50px 0;
        }

        .theme3 .ui-igrating {
        }

        .theme3 .ui-igrating-active {
        }

        .theme3 .ui-igrating-hover {
        }

        .theme3 .ui-igrating-vote {
            width: 20px;
            height: 20px;
            background-image: url("http://igniteui.com/images/samples/rating/ig-rating-red.png") !important;
            background-position: -75px 0;
        }

        .theme3 .ui-igrating-voteselected {
            background-position: 0 0;
        }

        .theme3 .ui-igrating-votehover {
            background-position: 0 0;
            filter: alpha(opacity=100);
            opacity: 1.0;
        }

        .theme3 .ui-igrating-votedisabled {
            background-position: -100px 0;
        }

        .theme3 .ui-igrating-votedisabledselected {
            background-position: -50px 0;
        }

        .theme4 .ui-igrating {
        }

        .theme4 .ui-igrating-active {
        }

        .theme4 .ui-igrating-hover {
        }

        .theme4 .ui-igrating-vote {
            width: 20px;
            height: 20px;
            background-image: url("http://igniteui.com/images/samples/rating/ig-rating-red.png") !important;
            background-position: -125px 0;
        }

        .theme4 .ui-igrating-voteselected {
            background-position: 0 0;
        }

        .theme4 .ui-igrating-votehover {
            background-position: -25px 0;
            filter: alpha(opacity=40);
            opacity: 0.4;
        }

        .theme4 .ui-igrating-votedisabled {
            background-position: -100px 0;
        }

        .theme4 .ui-igrating-votedisabledselected {
            background-position: -50px 0;
        }

        .theme5 .ui-igrating {
            border: 1px solid #000000;
            background-color: #2CBDF9;
        }

        .theme5 .ui-igrating-active {
            border: 1px solid #000000;
            background-color: #ffffff;
        }

        .theme5 .ui-igrating-hover {
        }

        .theme5 .ui-igrating-vote {
            width: 20px;
            height: 20px;
            background-image: url("http://igniteui.com/images/samples/rating/ig-rating-red.png") !important;
            background-position: -75px 0;
        }

        .theme5 .ui-igrating-voteselected {
            background-position: 0 0;
        }

        .theme5 .ui-igrating-votehover {
            background-position: -25px 0;
            filter: alpha(opacity=40);
            opacity: 0.4;
        }

        .theme5 .ui-igrating-votedisabled {
            background-position: -100px 0;
        }

        .theme5 .ui-igrating-votedisabledselected {
            background-position: -50px 0;
        }