#container {
            width: 70%;
            border: 1px solid #ccc;
            box-sizing: border-box;
            padding: 20px;
        }

        .p {
            margin-top: 5px;
        }

        #igMaskEditorsContainer {
            float: left;
        }

        .group-fields {
            margin-bottom: 10px;
        }

        .group-fields label {
            display: block;
            line-height: 18px;
        }

        .group-fields .ui-igedit-container {
            width: 250px;
        }

        #ValuesContainer {
            float: right;
            width: 50%;
        }

        #ValuesContainer.p {
            font-size: 16px;
        }

        #container h4 {
            font-size: 16px;
            margin-bottom: 10px;
        }

        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }

        @media screen and (max-width:960px) {
            #container {
                width: 80%;
            }
        }

        @media screen and (max-width:840px) {
            #container {
                width: 100%;
            }
        }

        @media screen and (max-width:690px) {
            #igMaskEditorsContainer, #ValuesContainer {
                float: none;
            }
            #ValuesContainer {
                margin-top: 20px;
                width: auto;
            }
        }
        @media screen and (max-width:365px) {
            .group-fields .ui-igedit-container {
                 width: 200px;
            }
        }