.labelCol
        {
            width: 110px;
        }
        
       .slider
        {
            width: 80px;
            height: 10px;
            margin: 10px;
        }
        .selectionOptions
        {
            margin-bottom: 10px;   
        }

        td { vertical-align: top; }
        .chartElement {
            padding-bottom: 20px;
        }